<h1>Forgot password</h1>
<%= form_for :password_set, url: :password_resets do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>
<<<<<<< HEAD
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>
=======
>>>>>>> dec7d54... The system has finished
<%= f.submit "Submit" %>
<% end %>
