<%= session[:student_id] %>
<span>___________________-</span>
<%= session[:teacher_id]%>
<% if session[:student_id] %>
  <p>welcome, <%= Student.find(session[:student_id]).name %>
<% elsif session[:teacher_id] %>
  <p>welcome, <%= Teacher.find(session[:teacher_id]).name %>
<% end %>
<h1>Course Lists</h1>

<% @courses.each do |course| %>
  <h2><%= course.course_title %>
<h3><%= course.teacher %>
  <% if course.quantity <= Course::MAXIMUM%>
      <%= button_to "Select Course", line_items_path(course_id: course) %>
  <% else %>
      <%= link_to 'full' %>
  <% end %>
  <% end %>
    <%= will_paginate @courses,:prev_label=> '上一页',:next_label=> '下一页' %> 
    <br><br>

    <%= link_to 'me', me_path %>
    </br></br>
