<span>___________________-</span>
<%= session[:teacher_id]%>
<% if session[:student_id] %>
  <p>welcome, <%= Student.find(session[:student_id]).name %>
<% elsif session[:teacher_id] %>
  <p>welcome, <%= Teacher.find(session[:teacher_id]).name %>
<% end %><br>
<%= link_to 'me', me_path %>

<%= render "search_form" %>
<h1>Course Lists</h1>
<div id="course_list">
  <%= render "course" %>
</div>
<%= will_paginate @courses,:prev_label=> '上一页',:next_label=> '下一页' %>

<%= form_for @course, url: import_courses_path do |f| %>
  <%= f.file_field :file, id: "id-input-file-3" %>
<%= submit_tag "上传EXCEL文件", id: "import-upload", class: "btn btn-warning" %>
      <% end %>

