<h1>Signup</h1>

<% if @student.errors.any? %>
  <ul>
  <% @student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
</ul>
<% end %>

<h2> nice to meet you! <span style="color:green">Student Channel</span></h2>
<%= form_for @student, url: :students do |f| %>
  <p>
<%= f.label :name %>
<%= f.text_field :name, onBlur: "return checkUserName();" %>
</p>

<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>

<p>
<%= f.label :password %>
<%= f.password_field :password %>
</p>

<p>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
</p>

<p><%= f.button "submit" %></p>
      <% end %>

<% if @teacher.errors.any? %>
  <ul>
  <% @teacher.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
</ul>
<% end %>

<h2> nice to meet you! <span style="color:red">Teacher Channel</span></h2>
<%= form_for @teacher, url: :teachers do |f| %>
  <p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :email %>  
<%= f.text_field :email %>
</p>
<p>
<%= f.label :password %>
<%= f.password_field :password %>
</p>

<p>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
</p>

<p><%= f.button "submit" %></p>
      <% end %>

